<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormTest.Properties.Settings.museumConnectionString"
            connectionString="Data Source=DESKTOP\MSSQLSERVERRR;Initial Catalog=museum;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WinFormTest.Properties.Settings.testingConnectionString"
            connectionString="Data Source=DESKTOP\MSSQLSERVERRR;Initial Catalog=testing;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>